a{
    color: #11999E;
    text-decoration: none;
}
body{
    margin: 0px;
   color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.65rem;
    line-height: 1;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

table{
    margin: 0 auto;
    padding: 20px;
}
td{
    text-align: left;
    font-weight: 300;
}
hr{
    border-top: 10px dotted #EAF6F6;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 10%; 
    margin: 50px auto;
    background-color: white;

}
p{
    line-height: 2;
    
}
.circular-img{
    border-radius: 100%;
    margin-top: 50px;
    width: 15%;
}

.skill1-img{
    width: 25%;
    float:left;
    margin-right: 30px;
}
.skill2-img{
    width: 25%;
    float:right;
    margin-left: 30px;
}
.square-img{
    width: 25%;
  
}
.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}
.middle-container{
    margin-bottom: 100px 0;
}
.bottom-container{
    margin-top: 20px;
    background-color: #66BFBF;
    padding: 10px 0 20px; 
}
.bottom-cloud{
    position: absolute;
    left: 500px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    top:50px;
    right: 500px;
}

.exp-row {
    position: relative;
    height: 700px;
    

}
.skill-row{
    width: 50%;
    margin: 100px auto 200px auto; 
    text-align: left;
    line-height: 2;
}

.skill-row2{
    position: relative;
    height: 150px;
}
.skill-row3{
    position: relative;
    height: 150px;
}
.comp-pic{
    position: absolute;
    left: 20px;
    top:20px;
    width: 100px;
    height: 100px;
}

.exp-comp{
    display: inline-block;
    position: absolute;
    left: 150px;
    top: 50px;
    margin: 10px;
}
.exp-pos{
    display: inline-block;
    position: absolute;
    left: 300px;
    top: 50px;
    margin: 10px;
}
.exp-desc{
    display: inline-block;
    position: absolute;
    text-align: left;
    left: 500px;
    top: 20px;
   
}
.profile-intro{
    color: #40514E;
    font-weight: normal;
    margin:20px auto;
    width: 35%;
    
}
.footer-note{
    color: #EAF6F6;
    position: relative;
    top:40px;
}

.footer-link{
   margin: 20px;
   position: relative;
   top:20px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }